html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/*html, body {*/
	/*background: #fff;*/
/*}*/
body {
	line-height: 1;
}
body:before {
    color: #000;
    background: #F5D599;
}

h2, h3, h4, h5, h6, p, ul, ol, dl, table {
	margin-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: normal;
}
ul {
	list-style: none;
}
address {
	font-style: normal;
}
blockquote, q {
	quotes: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	vertical-align: top;
}
dt,
th {
	font-weight: bold;
}

/* =classes
-------------------------------------------------- */
.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }

.hidden { display: none !important; }
.nowrap { white-space: nowrap !important; }

.fl-right {	float: right !important; }
.fl-left  {	float: left !important; }

/* =clearfix
-------------------------------------------------- */
.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
.clr {
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
* html .clear { height: 1px; }
*+html .clear { min-height: 1px; }

input::-ms-clear {
    display: none;
    width : 0;
    height: 0;
    overflow: hidden;
}
.end-dots{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}