.content {
	background-color: #005B96;
}
.content .box_menu {
	padding: 25px;
	font-family: Arial;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
}
.content .box_menu a {
	margin: 0 5px;
	text-decoration: none;
	color: #ffffff;
}
.content .box {
	margin: 0 15%;
}
.content .block_with_image {
	margin-bottom: 25px;
	text-align: center;
	color: #ffffff;
	padding-right: 18px;
	display: inline-block;
	font: normal 10px Arial;
}
.content .block_with_image:nth-child(4n) {
	padding-right: 0;
}
.content .block_with_image .box_image {
	box-shadow: 0 0 2px;
	width: 235px;
}
.content .block_with_image .name_image {
	margin:0;
	padding: 5px 0 10px;
	font: normal 14px Arial;
}
.content .block_with_image a {
	color: #ffffff;
	text-decoration: none;
	margin: 5px;
}
