header {
	font-family: arial;
	margin: 0 15%; 
	padding-top: 15px;
	min-height: 260px;
}
header .left_side {
	float: left;
	width: 40%;
	height: 50px;
}
header .left_side .logo {
	float: left;
	margin-right: 10px; 
	font-size: 32px;
}
header .left_side .green_letter {
	color: #02b8be;
}
header .left_side .after_logo {
	padding-top: 6px;
	line-height: 26px;
	color: #999999;
	font-size: 11px;
}
header .navigation {	
	height: 50px;
	font-size: 12px;
	padding: 0;
	width: 60%;
	float: right;
}
header .navigation:after {
	content: "";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
header .search_image {
    float: right;
    margin-top: 7px; 
}
header .navigation .navigation_menu {
	float: right;
	margin: 12px 0 0 0;
	width: 420px;
}
header .navigation_menu li{
	display: inline-block;
}
header .navigation_menu a {
	padding: 7px 13px;
	text-decoration: none;
	color:#999999;
}
header .navigation a:hover, .navigation .active a {
	background-color: #02b8be;
	border-radius: 3px;
	color: #ffffff;
}
header .left_bottom_side {
	float: left;
	margin-top: 100px;
	width: 60%;
	color: #999999;
}
header .left_bottom_side .welcome {
	font-size: 20px;
	font-weight: normal;
}
header .left_bottom_side .after_welcome {
	font-size: 14px;
}
header .social_icons_menu {
	float: right;
	margin-top: 100px;
	width: 193px;
}
header .social_icons_menu .find_us {
	color: #999999;
	font-weight: normal;
}
header .icons_menu {
	margin-top: 10px;
}
header .icons_menu .twitter {
	background: url('1013-icons-38.jpg') -26px -21px;
	}
header .icons_menu .fb {
	background: url('1013-icons-38.jpg') -118px -21px;
	}
header .icons_menu .dribbble {
	background: url('1013-icons-38.jpg') 151px -21px;
	}
header .icons_menu .gp {
	background: url('1013-icons-38.jpg') 106px -21px;
	}
header .icons_menu .youtube {
	background: url('1013-icons-38.jpg') -118px -67px;
	}	
header .icons_menu .icons {
	display: inline-block;
	border-radius: 1px;
	height: 35px;
	width: 35px;
	background-size: 900%;
}